{
    "singleQuote": false,
    "printWidth": 80,
    "editor.formatOnSave": true,
    "proseWrap": "preserve",
    "tabWidth": 4,
    "requireConfig": false,
    "useTabs": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "semi": false
}